* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-bg-color: #5a054d;
  --error-color: #ff3232;
  --accent-color: #ffd209;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Metric", sans-serif;
  font-size: 1rem;
  background-color: #ebebeb;
}

.container {
  width: 95%;
  max-width: 500px;
  margin: 1rem auto;
}

.header {
  width: 100%;
  background-color: var(--main-bg-color);
  padding: 3rem 2rem;
  color: white;
  margin-bottom: 100px;
}

.header h1 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 2rem;
  font-weight: normal;
}

.user-input {
  font-size: 1.88rem;
  border: solid 2px transparent;
  border-bottom: solid 2px var(--main-bg-color);
  font-weight: 100;
  letter-spacing: 2px;
  padding: 0.5em;
  margin-bottom: 70px;
  background-color: transparent;
}

.user-input::placeholder {
  font-size: 20px;
}

.search-button {
  font-size: 20px;
  border: solid 2px var(--main-bg-color);
  height: 40px;
  width: 40px;
  border-radius: 100%;
  margin-left: 10px;
}

.weather-data {
  color: white;
  background-color: var(--main-bg-color);
  margin: 0 auto;
  border-radius: 4px;
  font-weight: 100;
  letter-spacing: 2px;
  padding-bottom: 0.5rem;
}

.city-name {
  color: var(--accent-color);
  font-size: 30px;
  padding-top: 50px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 100;
}

.weather-emoji {
  text-transform: capitalize;
  font-size: 60px;
}

.weather-temperature {
  font-size: 50px;
  margin-top: 30px;
}

.error-text {
  color: var(--error-color);
  font-size: 1.5rem;
  line-height: 1.4;
  text-align: left;}

.weather-details-button {
  display: block;
  border: transparent;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 20px;
  text-decoration: underline;
  letter-spacing: 2px;
  padding-bottom: 20px;
  cursor: pointer;
  color: var(--accent-color);
  margin: 1rem auto 1.5rem;
  transition: color 0.3s linear;
}

.weather-details-button:hover,
.weather-details-button:focus {
  cursor: pointer;
  color: #fff;
}
.weather-detail {
  font-size: 20px;
  padding-bottom: 20px;
}

.weather-icon {
  width: 150px;
  margin: 0;
}

/* MEDIA QUERIES */

@media (min-width: 740px) {

  .container {
    width: 100%;
  }

  .header {
    padding: 2rem 3rem;
  }

  .header h1 {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 1.875rem;
    
  }

  .user-input {
    font-size: 20px;
  }

  .search-button {
    font-size: 1.25rem;
    border: solid 2px var(--main-bg-color);
    height: 30px;
    width: 30px;
  }

  .city-name {
    font-size: 25px
  }

  .weather-emoji {
    font-size: 1.875rem;
  }
}

@media (min-width: 1200px) {

  .header h1 {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 2.25rem;
  }
}
